{% extends 'base.html' %}

{% block title %}Majlis{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">{{ majlis.title }}</h1>
                    <p class="col-md-8 fs-4">{{ majlis.description|linebreaksbr }}</p>
                    {% if user not in majlis.people.all %}
                        <button class="btn btn-primary btn-lg" type="button">Enroll</button>
                    {% else %}
                    <div class="mt-5">
                        <span>You are already enrolled</span>
                    </div>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
    <article class="post">
        {% if majlis.published_date %}
        <time class="date">
            {{ majlis.published_date }}
        </time>
        {% endif %}

    </article>
</div>

{% endblock %}