{% extends 'base.html' %}

{% block title %}Majlis{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="p-5 mb-4 text-white bg-dark rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">{{ majlis.title }}</h1>
                    <p class="col-md-8 fs-4">{{ majlis.description|linebreaksbr }}</p>
                    {% if user not in majlis.people.all %}
                        <a class="btn btn-primary btn-lg" type="button" href="{% url 'enroll' majlis.id%}">Join Majlis</a>
                    {% else %}

                    <div class="mt-5">
                        <span>You are already a part of this Majlis</span> <br>
                        <a href="{% url 'create_post' majlis.id %}" class="mt-4 btn btn-primary btn-lg" type="button">Create Post</a>
                        <a href="{% url 'unenroll' majlis.id %}" class="mt-4 btn btn-danger btn-lg" type="button">Leave Majlis</a>
                    </div>
                    {% endif%}
                    <div class="mt-5">
                        <h4>Other members in this Majlis:  </h4>
                        <p>{% for user in majlis.people.all %}
                            {{user}} <br>
                            {% endfor %}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for post in majlis.posts.all %}
    <div class="row">

        <div class="col-md-12  mt-3">
            <div class="h-100 p-5 bg-light rounded-3">
                <h2>{{post.title}}</h2>
                <p>{{post.description}}</p>
                <a  class="btn btn-outline-dark" type="button" href="{% url 'view_post' majlis.id post.id %}">View Post</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}