# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Python # 
*.py[cod] 
*$py.class 


# pyenv 
.python-version 


# Environments 
.env 
.venv 
env/ 
venv/ 
week-2/myvenv
ENV/ 
env.bak/ 
venv.bak/

# mypy 
.mypy_cache/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.idea
.DS_Store